<div style="background-color: #6b5888">
    <h1 style="text-align: center; color: rgb(245, 249, 249)">Login Pannel for Users</h1>

    <form style="margin-top: 100px; margin-left:500px" [formGroup]="loginForm">
        <div class="form-outline col-3">
            <input type="email" id="form2Example1" class="form-control" formControlName=email />
            <label class="form-label" for="form2Example1">Email address</label>
        </div>
        <div class="form-outline col-3">
            <input type="password" id="form2Example2" class="form-control" formControlName=password />
            <label class="form-label" for="form2Example2">Password</label>
        </div>
        <button type="button" class="btn btn-primary btn-block mb-4" [disabled]="!loginForm.valid" (click)="onLogin()">Sign in</button>
    </form>
</div>